@font-face {
  font-family: 'NanumSquareRoundR';
  src: url('../style/font/NanumSquareRoundR.woff2') format('woff2'),
    url('../style/font/NanumSquareRoundR.woff') format('woff'),
    url('../style/font/NanumSquareRoundR.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareRoundL';
  src: url('../style/font/NanumSquareRoundL.woff2') format('woff2'),
    url('../style/font/NanumSquareRoundL.woff') format('woff'),
    url('../style/font/NanumSquareRoundL.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('../style/font/NanumSquareRoundB.woff2') format('woff2'),
    url('../style/font/NanumSquareRoundB.woff') format('woff'),
    url('../style/font/NanumSquareRoundB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareRoundEB';
  src: url('../style/font/NanumSquareRoundEB.woff2') format('woff2'),
    url('../style/font/NanumSquareRoundEB.woff') format('woff'),
    url('../style/font/NanumSquareRoundEB.ttf') format('truetype');
}

@font-face {
  font-family: 'D2Coding';
  src: url('../style/font/D2Coding.woff2') format('woff2'),
    url('../style/font/D2Coding.woff') format('woff'),
    url('../style/font/D2Coding.ttf') format('truetype');
}

@font-face {
  font-family: 'D2CodingBold';
  src: url('../style/font/D2CodingBold.woff2') format('woff2'),
    url('../style/font/D2CodingBold.woff') format('woff'),
    url('../style/font/D2CodingBold.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrainsMono-ExtraBold';
  src: url('../style/font/JetBrains/JetBrainsMono-ExtraBold.woff2')
      format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-ExtraBold-Italic';
  src: url('../style/font/JetBrains/JetBrainsMono-ExtraBold-Italic.woff2')
      format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-ExtraBold-Italic.woff')
      format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url('../style/font/JetBrains/JetBrainsMono-Bold.woff2') format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-Bold.woff') format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-Bold-Italic';
  src: url('../style/font/JetBrains/JetBrainsMono-Bold-Italic.woff2')
      format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-Bold-Italic.woff') format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-Medium';
  src: url('../style/font/JetBrains/JetBrainsMono-Medium.woff2') format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-Medium.woff') format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-Medium-Italic';
  src: url('../style/font/JetBrains/JetBrainsMono-Medium-Italic.woff2')
      format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-Medium-Italic.woff')
      format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('../style/font/JetBrains/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-Regular-Italic';
  src: url('../style/font/JetBrains/JetBrainsMono-Italic.woff2') format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-Italic.woff') format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-Light';
  src: url('../style/font/JetBrains/JetBrainsMono-Light.woff2') format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-Light.woff') format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-Light-Italic';
  src: url('../style/font/JetBrains/JetBrainsMono-Light-Italic.woff2')
      format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-Light-Italic.woff')
      format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-SemiLight';
  src: url('../style/font/JetBrains/JetBrainsMono-SemiLight.woff2')
      format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-SemiLight.woff') format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-SemiLight-Italic';
  src: url('../style/font/JetBrains/JetBrainsMono-SemiLight-Italic.woff2')
      format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-SemiLight-Italic.woff')
      format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-ExtraLight';
  src: url('../style/font/JetBrains/JetBrainsMono-ExtraLight.woff2')
      format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-SemiLight-Italic';
  src: url('../style/font/JetBrains/JetBrainsMono-SemiLight-Italic.woff2')
      format('woff2'),
    url('../style/font/JetBrains/JetBrainsMono-SemiLight-Italic.woff')
      format('woff');
}

@font-face {
  font-family: 'IBM-Plex-Sans-Bold';
  src: url('../style/font/IBM/IBMPlexSansKR-Bold.woff2') format('woff2'),
    url('../style/font/IBM/IBMPlexSansKR-Bold.woff') format('woff');
}

@font-face {
  font-family: 'IBM-Plex-Sans-SemiBold';
  src: url('../style/font/IBM/IBMPlexSansKR-SemiBold.woff2') format('woff2'),
    url('../style/font/IBM/IBMPlexSansKR-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'IBM-Plex-Sans-Medium';
  src: url('../style/font/IBM/IBMPlexSansKR-Medium.woff2') format('woff2'),
    url('../style/font/IBM/IBMPlexSansKR-Medium.woff') format('woff');
}

@font-face {
  font-family: 'IBM-Plex-Sans-Text';
  src: url('../style/font/IBM/IBMPlexSansKR-Text.woff2') format('woff2'),
    url('../style/font/IBM/IBMPlexSansKR-Text.woff') format('woff');
}

@font-face {
  font-family: 'IBM-Plex-Sans-Regular';
  src: url('../style/font/IBM/IBMPlexSansKR-Regular.woff2') format('woff2'),
    url('../style/font/IBM/IBMPlexSansKR-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IBM-Plex-Sans-Thin';
  src: url('../style/font/IBM/IBMPlexSansKR-Thin.woff2') format('woff2'),
    url('../style/font/IBM/IBMPlexSansKR-Thin.woff') format('woff');
}

@font-face {
  font-family: 'IBM-Plex-Sans-Light';
  src: url('../style/font/IBM/IBMPlexSansKR-Light.woff2') format('woff2'),
    url('../style/font/IBM/IBMPlexSansKR-Light.woff') format('woff');
}

@font-face {
  font-family: 'IBM-Plex-Sans-ExtraLight';
  src: url('../style/font/IBM/IBMPlexSansKR-ExtraLight.woff2') format('woff2'),
    url('../style/font/IBM/IBMPlexSansKR-ExtraLight.woff') format('woff');
}

html {
  font-family: 'IBM-Plex-Sans-Regular', sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 15.5px;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 14px;
  }
}
